<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header id="header">
			<% if(typeof user === 'undefined') { %>
			<button id="log-in"><a href="/log-in"> Log In </a></button>
			<button id="sign-up"><a href="/sign-up"> Sign-up </a></button>
			<% } else { %>
			<div>Welcome <%= user.first_name %> !</div>
			<button id="log-out"><a href="/log-out"> Log out </a></button>
			<!-- <button><a href="/profile"> Profile </a></button> -->
			<% if(user.membership_status === 'free') { %>
			<button><a href="/change-status"> Become a member </a></button>
			<% } else { %>
			<div>
				You are a <%=user.membership_status%>, nice! <%
				if(user.membership_status === 'member') { %> Can you
				<a href="/change-status"> become an admin</a> ? <% } %>
			</div>
			<% } %> <% } %>
		</header>

		<div id="content-box">
			<h1><%= title %></h1>
			<div id="main-block">
				<div id="messages-menu">
					<button id="create-message">
						<a href="/message/new">New message</a>
					</button>
				</div>
				<% if( typeof messages === 'undefined' || messages.length <= 0) { %>
				<div>There are no messages yet. Go write one!</div>
				<% } else { %>
				<div id="messages-container">
					<ul>
						<% for(message of messages) { %>
						<li class="message-container">
							<% if(typeof user !== 'undefined' && typeof user !== 'null' &&
							user.membership_status === 'admin') { %>
							<button>
								<a href="/message/delete/:<%=message._id%>">Delete message</a>
							</button>
							<% } %>
							<div id="message-updated">
								updated last time in <%= message.updatedAt.toISOString() %>
							</div>
							<div id="message-title"><strong><%=message.title%></strong></div>
							<div id="message-text"><%=message.text%></div>
							<% if(typeof user !== 'undefined' && typeof user !== 'null' &&
							user.membership_status !== 'free') { %>
							<div id="message-created">
								created by <strong><%= message.user.first_name %></strong> in
								<%= message.createdAt.toISOString() %>
							</div>
							<% } else { %>
							<div>Become a member to see who posted this message</div>
							<% } %> <% } %>
						</li>
					</ul>
				</div>
				<% } %>
			</div>
		</div>

		<Footer id="footer">Footer</Footer>
	</body>
</html>
